<!-- 
  Flask template documentation:
  https://flask.palletsprojects.com/en/2.0.x/tutorial/templates/ 
-->

<!-- TODO:  Replace some values in this template with variables. 
            e.g: name, phone number, etc.
-->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lenz Paul</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">

    <!-- 
      TODO: Serve static files. 

      The website template gives us HTML. We must replace this HTML with Jinja
      code that will render the equivalent HTML. We should use `url_for` method.
      

      Here the folder is `static`, the filename is css/[file].css

      Flask static files documentation:
      https://flask.palletsprojects.com/en/2.0.x/tutorial/static/
    -->
    <link rel="stylesheet" type= "text/css" href="static/css/aos.css">
    <link rel="stylesheet" type= "text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type= "text/css" href="static/css/main.css">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
           
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url({{ url_for('static', filename='images/cc-bg-1.jpg') }} )"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="{{ url_for('static', filename='images/lenz-cartoon.png') }} " alt="Image"/></a></div>
          <div class="h2 title"> Lenz Paul </div>
          <p class="category text-white">Software Engineer</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
            <a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='general_swe_resume_lenz_paul_nov_2021.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
            <!-- TODO: -->
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://twitter.com/bringbackthedog" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/bringbackthedog" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/lenztpaul/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Software engineer with 2+ years experience working with mobile and web. I have advanced knowledge of Flutter and Google Cloud Platform, intermediate knowledge of C++ and Rust, and a strong interest for machine learning and data analytics. I have also had the opportunity to teach. I have taught the basics of coding and robotics to children age 6-12. I've taught Flutter to a group of 12 react native professionals. More recently, I have been teaching Google Cloud to a group of approximately 70 students, as part of a Google initiative.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">34</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">info@lenzpaul.dev</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+1-778-268-1456</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Vancouver, BC, Canada </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English, French, Haitian Creole</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <b>Programming Languages:</b> Dart, C++, Rust, JavaScript, Python, SQL<br><br>
        <b>Tools:</b> Flutter, Firebase, Google Cloud Platform <br><br>
        <b>Database Management Systems:</b> MySQL, SQLite3<br><br>
        <b>Internet Technologies:</b> Flask, Django, HTML5, CSS <br><br>
        <b>Soft skills:</b> Public speaking, leadership, communication, team work, conflict resolution 
      </div>
    </div>
  </div>
</div>

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>November 2021 - Present</p>
            <div class="h5">DMG Blockchain</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Software Engineer</div>
            <p>
              <ul>
                <li>Work on creating and maintaining crypto mining software</li>  
                <li>Maintaining SQL database handling millions of transactions monthly</li>  
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2021 - November 2021</p>
            <div class="h5">DEVBAR</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Software Engineer</div>
            <p>
              <ul>
                <li>Created framwork for custom dialer sollution for insurance company</li>  
                <li>Worked on creating, documenting and establishing processes using agile methodologies in young startup </li>  
                <li>Created test automations
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>October 2021 - Present</p>
            <div class="h5">Self Employed at Google</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Cloud computing instructor</div>
            <p>
              <ul>
                <li>Creating and delivering compelling presentations weekly, to a class of approximately 70 students</li>  
                <li>Monitor student progress and engagement</li>  
                <li>Developed tools to support students and staff</li>  
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>July 2021 - October 2021</p>
            <div class="h5">Self Employed at Google</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Cloud computing Tutor</div>
            <p>
              <ul>
                <li>Responsible for supporting a group of 17 students</li>  
                <li>Held bi weekly office hours where I presented a digest of the week's material</li>  
                <li>Developed tools to support students and staff</li>  
                <li>Monitored student progress and engagement</li>  
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>September 2020 - Present</p>
            <div class="h5">Self employed </div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Mobile Application Developer</div>
            <p>
              <ul>
                <li>Built and released an queuing application for a customer </li>  
                <li>Created cross platform applications for iOS, Android and Web as well as supporting backends</li>  
                <li>Worked with designers to iterate and implement design sysyems </li>  
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2018 - Present</p>
            <div class="h5">Bachelor's Degree (in progress)</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">B.Sc in Computer Science</div>
            <p class="category">Vancouver Island University</p>
            <p>Relevant Coursework: Object Oriented Programming, Web Development, Systems development life cycle</p>
            <p>
              <b>Projects:</b><br>
              <ul>
                <li>Qapla - A custom programming language created using C, YACC and Lex</li>
                <li>Google Developer Student Club lead - Created and lead community of 60+ students focused on learning and applying Google technologies</li>
              </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
    

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url({{ url_for('static', filename='images/staticmap.png') }})">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 pl-3 title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+1-778-268-1456</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>info@lenzpaul.dev</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <a class="cc-twitter btn btn-link " target="_blank" href="https://twitter.com/bringbackthedog"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
        <a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/bringbackthedog"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link" target="_blank" href="https://www.linkedin.com/in/lenztpaul/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
      </div>
      <div class="h4 title text-center"> Lenz Paul</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>